domains:
  - name: 0scar.nl
    issuer: letsencrypt-shortlived-servfail
  - name: bruinsma.it
  - name: devopscar.nl
    issuer: letsencrypt-shortlived
  - name: ditiskapot.nl
  - name: ditwerktniet.nl
  - name: doktermarjolein.nl
    issuer: letsencrypt-shortlived
  - name: hetmagkapot.nl
  - name: hetmoetkapot.nl
  - name: ishetkapot.nl
  - name: lab.oscarr.nl
  - name: maghetkapot.nl
  - name: maghetwerken.nl
  # - name: moethetkapot.nl
  - name: moethetwerken.nl
  - name: n14f.nl
    issuer: letsencrypt-tlsserver-servfail
  - name: ninoo.nl
    issuer: letsencrypt-shortlived
  - name: oscarr.nl
  - name: oscarrr.nl
    issuer: letsencrypt-shortlived-servfail

ips:
  - address: 77.171.172.211
  - address: 2a02:a470:edcd:0:6f78:5b85:b616:1b18

issuers:
  # https://letsencrypt.org/docs/profiles/#classic
  - name: letsencrypt
    profile: classic
    cloudflare: true
  - name: letsencrypt-http01
    profile: classic
    http01: true
  # https://letsencrypt.org/docs/profiles/#tlsserver
  - name: letsencrypt-tlsserver
    profile: tlsserver
    cloudflare: true
  - name: letsencrypt-tlsserver-servfail
    profile: tlsserver
    servfail: true
  - name: letsencrypt-tlsserver-http01
    profile: tlsserver
    http01: true
  # https://letsencrypt.org/docs/profiles/#shortlived
  - name: letsencrypt-shortlived
    profile: shortlived
    cloudflare: true
  - name: letsencrypt-shortlived-servfail
    profile: shortlived
    servfail: true
  - name: letsencrypt-shortlived-http01
    profile: shortlived
    http01: true
  # https://letsencrypt.org/docs/staging-environment/
  - name: letsencrypt-staging-shortlived
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    profile: shortlived
    cloudflare: true
    account-key: letsencrypt-staging
  - name: letsencrypt-staging-shortlived-http01
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    profile: shortlived
    http01: true
    account-key: letsencrypt-staging

# https://github.com/cert-manager/cert-manager/blob/master/deploy/charts/cert-manager/values.yaml
cert-manager: # set values for wrapper/umbrella chart
  installCRDs: true
