# https://github.com/traefik/traefik-helm-chart/blob/master/traefik/values.yaml
traefik: # set values for wrapper/umbrella chart
  deployment:
    revisionHistoryLimit: 0

  ports:
    web:
      http:
        expose:
          default: true
        redirections:
          entryPoint:
            to: websecure
            scheme: https
    websecure:
      http:
        expose:
          default: true
        # asDefault: true # supported in Traefik v3
        http3:
          enabled: true
          advertisedPort: 443
        middlewares:
          - traefik-hsts@kubernetescrd
    unifi-inform:
      http:
        expose:
          default: true
        port: 8081
        exposedPort: 8080
    factorio:
      expose:
        default: true
      port: 31497
      protocol: UDP

  ingressRoute:
    dashboard:
      enabled: false

  providers:
    kubernetesGateway:
      enabled: true
      experimentalChannel: true
      # statusAddress:
      #   service:
      #     enabled: true
      #     name: ""
      #     namespace: ""

  logs:
    general:
      level: DEBUG
    access:
      enabled: true

  priorityClassName: system-cluster-critical

  tlsOptions:
    default:
      minVersion: VersionTLS13
